# ================================================================================
#  project specific files
# ================================================================================

#.htaccess
robots.txt
config_tokens.php



# ================================================================================
#  numerous always-ignore extensions
# ================================================================================

*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache



# ================================================================================
#  OS or Editor folders
# ================================================================================

.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace



# ================================================================================
#  build script local files
# ================================================================================

build/buildinfo.properties
build/config/buildinfo.properties
